{# -*- mode:web; web-mode-markup-indent-offset:2; -*- ex: set tabstop=2 expandtab: #}
{# DataJukeboxBundle\Resources\views\base.html.twig #}

<!DOCTYPE html>
<HTML>
  <HEAD>
    <META CHARSET="UTF-8" />
    <TITLE>Data Jukebox Tutorial - Sample Blog Application</TITLE>
    {% block stylesheets -%}
      <LINK REL="stylesheet" HREF="{{ asset('bundles/datajukebox/css/jquery-ui.css') }}" />
      <LINK REL="stylesheet" HREF="{{ asset('bundles/datajukebox/css/jquery-ui-timepicker-addon.css') }}" />
      <LINK REL="stylesheet" HREF="{{ asset('bundles/datajukebox/css/DataJukebox.css') }}" />
    {% endblock stylesheets %}
    {% block javascripts -%}
      <SCRIPT TYPE="text/javascript" SRC="{{ asset('bundles/datajukebox/js/jquery.js') }}"></SCRIPT>
      <SCRIPT TYPE="text/javascript" SRC="{{ asset('bundles/datajukebox/js/jquery-ui.js') }}"></SCRIPT>
      <SCRIPT TYPE="text/javascript" SRC="{{ asset('bundles/datajukebox/js/jquery-ui-timepicker-addon.js') }}"></SCRIPT>
      <SCRIPT TYPE="text/javascript" SRC="{{ asset('bundles/datajukebox/js/DataJukebox.js') }}"></SCRIPT>
    {% endblock javascripts %}
  </HEAD>
  <BODY>
    {% block body %}{% endblock body %}
    {% block javascripts_body %}
      <SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">/*<![CDATA[*/$("input:text:visible:first").focus();/*]]>*/</SCRIPT>
    {% endblock javascripts_body %}
  </BODY>
</HTML>
